.signup-modal {
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
    /* border: 2px dashed orange; */
    justify-content: center;
    /* align-items: center; */

}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid yellow; */
}

.input-fields {
    /* max-width: fit-content; */
    background-color: rgb(202, 236, 252);
    width: 270px;
    height: 18px;
    padding: 2px;
    padding-left: 3px;
    border: 2px solid black;
}

.signup-heading {
    display: flex;
    justify-content: center;
}

.signup-submit-button {
    height: 35px;
    width: 280px;
    background-color: #fe5a5e;
    color: white;
    box-shadow: 2px 2px 1px black;
    border: 2px black solid;
}

.disabled {
    background-color: rgb(223, 221, 221);
    box-shadow: 2px 2px 1px rgb(182, 181, 181);
    border: 2px rgb(182, 181, 181) solid;
    color: rgb(182, 181, 181);
}
