#root {
    max-width: 1024px;
    margin: auto;
}

.tile {
    display: inline-flex;
    /* border: 1px solid green; */
    margin: 10px;
    width: 290px;
    height: 350px;
    margin-left: 25px;
    justify-content: center;
    /* align-items: center; */
}

.spotTile {
    padding: 10px;
    text-decoration: none;
}


.allSpots {
    /* border: 6px solid red; */
}

.spotLocation {
    display: inline-flex;
    /* font-weight: bold; */
    width: 250px;
}


.avgRating {
    display: flex;
    gap: 5px;
    justify-content: end;
    /* border: 1px dashed blue; */
    width: 150px;
}
.spotTileInfo {
    display: flex;
    /* flex-direction: column; */
    margin-top: 6px;  
    /* border: 1px solid pink;  */
    width: 300px;
}

/* .spotTileInfo > div {
    text-decoration: none;
} */

img {
    display: flex;
    height: 230px;
    width: 300px;
    border-radius: 15px;
}

.locationAndPrice  {
    display: flex;
    flex-direction: column;
    /* border: 1px dotted blue; */
}

.spotPrice {
    font-weight: bold;
}

.spotPrice-container {
    display: inline-flex;
    gap: 5px;
}