#root {
    max-width: 1024px;
    margin: auto;
}

.tile {
    display: inline-flex;
    margin: 10px;
    width: 290px;
    height: 350px;
    margin-left: 25px;
    justify-content: center;
    /* align-items: center; */
}

.spotTile {
    padding: 10px;
}

[role="tooltip"] {
    visibility: visible;
}

.allSpots {
    border: 6px solid red;
}

.spotLocation {
    display: inline-flex;
}


.avgRating {
    display: flex;
    gap: 5px;
}
.spotTileInfo {
    display: flex;
    flex-direction: column;
    margin-top: 6px;    
}

/* .spotTileInfo > div {
    text-decoration: none;
} */

img {
    display: flex;
    height: 230px;
    width: 300px;
    border-radius: 15px;
}

.locationAndRating  {
    display: flex;
    flex-direction: row;
    border: 1px dotted blue;
}
