#modal-content {
    width: max-content;
    height: max-content;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    /* justify-content: center; */
    /* align-items: center; */
}

.form-title {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
}

.demo-user {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.errors {
    color: #fe5a5e;
    padding: 0;
    margin: 0;

}

.login-input-fields {
    width: 272px;
    height: 18px;
    padding: 2px;
    padding-left: 3px;
    background-color: rgb(202, 236, 252);
    border: 2px black solid;
}

.login-submit-button {
    height: 35px;
    background-color: #fe5a5e;
    color: white;
    box-shadow: 2px 2px 1px black;
    border: 2px black solid;
}
